body,
html {
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/main.jpg");
    background-position: center;
    background-size: cover;
}

#background {
    height: 50%;
    position: relative;
}


#introduction {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*BG color scheme: #121E47 #002463 #034078*/


.container {
    border-radius: 5px;
    color: white;
    padding-bottom: 50px;
}


.accordion-button {
    font-size: 17px;
}

p {
    font-size: 18px;
}

.accordion-body {
    font-size: 16px;
}

.d-block.w-100 {
    width: 150px;
    height: 300px;
    object-position: 25% 25%;
}

.carousel-para {
    background-image: radial-gradient(black, transparent);
    font-size: 30px;
}

.carousel-para-sub {
    background-image: radial-gradient(black, transparent);
    font-size: 20px;
}

.carousel-para-sub-cred {
    background-image: radial-gradient(black, transparent);
    font-size: 15px;
}

.credits:hover {
    color: gray;
}

.credits {
    color: white;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#quote {
    color: white;
    margin-left: 50px;
    border-radius: 0px;
}

#quote_txt {
    border-left: 3px solid #ccc;
    padding: 40px;
}

.contact {
    width: 75%;
    margin: 0 auto;
}

.submit_button {
    background-color: black;
    color: white;
    padding: 3px 6px;
    border: 3px solid white;
    border-radius: 5px;
}

#linkedin {
    float: right;
    margin-right: 0px;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: 4s fade;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@keyframes add_padding {
    0% {
        padding-bottom: 0px;
    }

    100% {
        padding-bottom: 60px;
    }
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: #212529;
}
  
.img_container:hover .overlay {
    opacity: 1;
    animation: 1s add_padding forwards;
}
  
.text {
    padding: 10px;
    color: white;
    font-size: 15px;
    position: absolute;
    text-align: center;
}

