body,
html {
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/main.jpg");
    background-position: center;
    background-size: cover;
}


#background {
    height: 50%;
    position: relative;
}


.navbar {
    font-family: monospace;
}

.navbar-brand {
    color:#fff; 
}

.nav-link {
    font-size: 120%;
}

.container {
    border-radius: 5px;
    color: white;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

/* Border */
.container::before  {
    position: absolute;
    content: '';
    left: -61px;
    height: 100%;
    width: 2px;
    background-color: white;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}



/* Scroll button */
#scroll {
    position: absolute;
    left: 29px;
    bottom: 50px;
}

#scroll-text {
    position: absolute;
    left: 40px;
    bottom: 5px;
    color: white;
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: 0px;
}


#scroll-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 16px;
    padding: 20px 10px;
    font-size: 20px;
    transition-duration: 1s;
    color: white;
}

#scroll-button:hover {
    border: 2px solid #212529;
}

#scroll-button:active {
    border: 0px solid #212529;
    color: white;
}


/* Line with circles on side */
.border-line {
    position: absolute;
    left: -77px;
    padding: 10px;
}

.border-line a {
    font-size: 20px;
    color: white;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
}

.border-line .circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    position: absolute;
    bottom: -40px;
}

.border-text { 
    right: 15px;
    position: relative;
    top: 45px;
}

.border-line .circle:hover {
    background-color: gray;
}

.border-text:hover {
    color: gray;
}


#introduction {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

p {
    font-size: 115%;
}

li {
    font-size: 115%;
}


/* Index.html carousel */
.d-block.w-100 {
    width: 150px;
    height: 300px;
    object-position: 25% 25%;
    background-size: auto, cover;
    background-position:center;
}

.carousel-para {
    font-weight: normal;
}

#pi-photo {
    background-image:
    radial-gradient(black, transparent),
    url(images/r-pi.jpg);
}

#fusion-photo {
    background-image:
    radial-gradient(black, transparent),
    url(images/cad.jpg);
}

#python-photo {
    background-image:
    radial-gradient(black, transparent),
    url(images/python.jpg);
}

#electronics-photo {
    background-image:
    radial-gradient(black, transparent),
    url(images/circuit-board.jpg);
}

.credits:hover {
    color: gray;
}

.credits {
    color: white;
}

/* Bits from other pages */
#quote {
    color: white;
    border-radius: 0px;
}

#quote_txt {
    padding: 40px;
    padding-left: 0px;
}

.contact {
    width: 75%;
    margin: 0 auto;
}

.submit_button {
    background-color: black;
    color: white;
    padding: 3px 6px;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 115%;
}

#linkedin {
    float: right;
    margin-right: 0px;
}

.project-image-caption {
    padding: 10px;
    color: white;
    font-size: 115%;
    position: absolute;
    text-align: center;
}


/*FADE*/

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: 4s fade;
}


/*TABLE*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Adjust the projects table of images for phones */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 680px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .border-line {
        display: none;
    }
    .container::before {
        display: none;
    }
}

/* Override the containers bootstrap max-widths */

@media (max-width: 1000px) {
    #linkedin {
        display: none
    }
}

@media (min-width: 0px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 670px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 780px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 800px;
    }
}


@media (min-width: 1250px) {
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

@keyframes add_padding {
    0% {
        padding-bottom: 0px;
    }

    100% {
        padding-bottom: 60px;
    }
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: #212529;
}
  
.img_container:hover .overlay {
    opacity: 1;
    animation: 1s add_padding forwards;
}




/* Physical side scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000
}

::-webkit-scrollbar-thumb {
    background: #212529
}