body,
html {
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/main.jpg");
    background-position: center;
    background-size: cover;
}

#background {
    height: 50%;
    position: relative;
}

.text {
    padding: 10px;
    color: white;
    font-size: 15px;
    position: absolute;
    text-align: center;
}

.navbar {
    font-family: monospace;
    font-size: 18px;
}

.navbar-brand {
    color:#fff; 
    font-size: 22px;
}


.container {
    border-radius: 5px;
    color: white;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

/* Border */
.container::before  {
    position: absolute;
    content: '';
    left: -61px;
    height: 100%;
    width: 2px;
    background-color: white;
}


/* Scroll button */
.scroll {
    position: absolute;
    left: 29px;
    bottom: 20px;
}

.scroll .text {
    position: absolute;
    left: 40px;
    bottom: 15px;
    font-size: 20px;
    color: white;
    font-family: monospace;
}

.scroll .button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 16px;
    padding: 20px 10px;
    font-size: 20px;
    transition-duration: 1s;
    color: white;
}

.scroll .button:hover {
    border: 2px solid #212529;
}

.scroll .button:active {
    border: 0px solid #212529;
    color: white;
}


/* Line with circles on side */
.border-line {
    position: absolute;
    left: -77px;
    padding: 10px;
}

.border-line a {
    font-size: 20px;
    color: white;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
}

.border-line .circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    position: absolute;
    bottom: -40px;
}

.border-text { 
    right: 15px;
    position: relative;
    top: 45px;
}

.border-line .circle:hover {
    background-color: gray;
}

.border-text:hover {
    color: gray;
}


#introduction {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*BG color scheme: #121E47 #002463 #034078*/


.accordion-button {
    font-size: 17px;
}

p {
    font-size: 18px;
}

.accordion-body {
    font-size: 16px;
}

.d-block.w-100 {
    width: 150px;
    height: 300px;
    object-position: 25% 25%;
}

.carousel-para {
    background-image: radial-gradient(black, transparent);
    font-size: 30px;
}

.carousel-para-sub {
    background-image: radial-gradient(black, transparent);
    font-size: 20px;
}

.carousel-para-sub-cred {
    background-image: radial-gradient(black, transparent);
    font-size: 15px;
}

.credits:hover {
    color: gray;
}

.credits {
    color: white;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#quote {
    color: white;
    border-radius: 0px;
}

#quote_txt {
    padding: 40px;
    padding-left: 0px;
}

.contact {
    width: 75%;
    margin: 0 auto;
}

.submit_button {
    background-color: black;
    color: white;
    padding: 3px 6px;
    border: 3px solid white;
    border-radius: 5px;
}

#linkedin {
    float: right;
    margin-right: 0px;
}



/*FADE*/

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: 4s fade;
}


/*TABLE*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* Adjust for phones */
@media screen and (min-height: 1000px) {
    #background {
        height: 25%;
        position: relative;
    }
    .container::before  {
        background-color: transparent;
    }
    .border-line .circle {
        border: 0px;
    }
    .border-text {
        font-size: 0px;
        color: transparent;
        text-decoration: none;
    }
}


@keyframes add_padding {
    0% {
        padding-bottom: 0px;
    }

    100% {
        padding-bottom: 60px;
    }
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: #212529;
}
  
.img_container:hover .overlay {
    opacity: 1;
    animation: 1s add_padding forwards;
}




/* Physical side scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000
}

::-webkit-scrollbar-thumb {
    background: #212529
}